<%- include header.ejs %>

<div class="container">

    <div class="row error">
        <div class="small-six large-centered columns">
            <h3>User credentials do not match.</h3>
            <h4>Please search again</h4>
        </div>
    </div>


    <div class="row">
        <div class="small-9 small-centered columns">
            <form action="/processApi" method="POST">

               <label>Enter Playstation Id  /  Gamertag</label>
                <input type="text" name="gamerTag">

               <label for="system">Choose Platform</label>
                <select name="system">
                    <option value="2">PS4</option>
                    <option value="1">XboxOne</option>
                </select>

                <button class="button small radius" id="purple" type="submit">Submit</button>

            </form>
        </div>
    </div> <!-- end of Row -->

</div> <!-- end of container -->

<%- include footer.ejs %>