 <head>
	<meta charset="UTF-8">
	<title>Desteny Character Explore</title>
	<link rel="stylesheet" href="/foundation.css" type="text/css">
</head>


<div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="http://localhost:8080/" class="purp">Destiny Character Explorer</a></h1>
            </li>
        </ul>

        <nav>
            <section class="top-bar-section">
                <ul class="right ">
                    <li><a class="purp" href="/login">Login</a>
                    </li>
                    <li><a class="purp" href="/auth/facebook">FaceBook Login</a>
                    </li>
                    <li><a class="purp" href="/addUser">Register</a>
                    </li>
                    <li><a class="purp" href="/logout">Logout</a>
                    </li>

                </ul>
            </section>
        </nav>
    </nav>
</div>
