<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Destiny Character Explorer</title>
	<link rel="stylesheet" href="/foundation.css" type="text/css">
</head>
<body>
 <nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
            <h1><a href="#" class="purp">Destiny Character Explorer</a></h1>
		</li>
	</ul>

	<nav>
		<section class="top-bar-section">
			<ul class="right ">
				<li><a class="purp" href="/login">Login</a>                </li>
				<li><a class="purp" href="/auth/facebook">FaceBook Login</a></li>
				<li><a class="purp" href="/addUser">Register</a>
                </li>
                <li><a class="purp" href="/logout">Logout</a>
                    </li>

			</ul>	
		</section>
	</nav>
</nav>


<div class="row">
    <div class="small-9 small-centered columns">
       <h2 class="grayOut">Welcome To Destiny Character Explorer</h2>
        <form action="/processApi" method="POST">

           <label>Enter Playstation Id  /  Gamertag</label>
            <input type="text" name="gamerTag">

           <label for="system">Choose Platform</label>
            <select name="system">
                <option value="2">PS4</option>
                <option value="1">XboxOne</option>
            </select>

            <button class="button small radius" id="purple" type="submit">Submit</button>

        </form>
    </div>
</div>


    <footer style="position:fixed; bottom: 0px; height: 40px; line-height: 40px;" class="large-12 columns showme text-center site-footer">
        <div>|&nbsp;&nbsp;  Created &nbsp;&nbsp; by &nbsp;&nbsp; J.O &nbsp;&nbsp; & &nbsp;&nbsp; A.R &nbsp;&nbsp; | </div>
    </footer>


</body>
</html>

