
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Desteny Character Explore</title>

</head>
<body>

<script>
  var elNC = el.noConflict();
  // Conflicting lib works again and use elNC for this library onwards... 
</script> 


<form action="/processLogin", method="POST">
	<input type="text" name="name" />
	<input type="text" name="password" />
	<input type="submit"/>




</form>


</body>
</html>

