<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Desteny Character Explore</title>

</head>
<body>

<script>
  var elNC = el.noConflict();
  // Conflicting lib works again and use elNC for this library onwards... 
</script> 

<%- include form.ejs %>

<h1>hello</h1>
<br>

 <h1> <%= gamerTag %> </h1>


</body>
</html>

